WebService/TextConversorServiceService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://textConversor/" xmlns:tns="http://textConversor/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="capitalize" type="tns:capitalize"/>

  <xs:element name="capitalizeResponse" type="tns:capitalizeResponse"/>

  <xs:complexType name="capitalize">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="capitalizeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

